##### Short introductions for the parameters, for more details please see README.md
# CE_CONTAINER_VERSION: any of the available tags from https://hub.docker.com/r/oxidesales/oxideshop-docker-ce/tags
# SHOP_DIRECTORY: host mountpoint for the shop sourcecode files, directory has to exist
# SHOP_TESTS_PATH: the location of the tests directory inside the php container
# SHOP_SETUP_PATH: some resources of the shop setup are required in scripts, a.e. reset-shop
# DATABASE_DIRECTORY: host mountpoint for the database files, directory has to exist
# SSMTP_CONFIG_APPEND: line to append to the ssmtp config, a.e. providing a mailhog location as mailhub
# HOST_USER_ID: the UID for the user, can be retrieved via "id -u"
# HOST_GROUP_ID: the GID for the users main group, can be retrieved via "id -g"
# HOST_USER_NAME: the name for the user, can be retrieved via "id -un"
# HOST_GROUP_NAME: the name for the users main group, can be retrieved via "id -gn"
# WITH_XDEBUG: by default xdebug is 1 (enabled), set to 0 to enable it in the php container
# PWD: path to your project folder - required for Microsoft Windows, automatically available on other systems

##### For a development setup based on oxideshop_ce
# CE_CONTAINER_VERSION=v6.1.3-dev
# SHOP_DIRECTORY=./data/oxideshop-dev
# SHOP_TESTS_PATH=/var/www/oxideshop/tests
####

##### For a demo setup based on oxideshop_project
CE_CONTAINER_VERSION=v6.1.3
SHOP_DIRECTORY=./data/oxideshop
SHOP_TESTS_PATH=/var/www/oxideshop/vendor/oxid-esales/oxideshop-ce/tests
####

SHOP_SETUP_PATH=/var/www/oxideshop/source/Setup

DATABASE_DIRECTORY=./data/database

SSMTP_CONFIG_APPEND="mailhub=mailhog:8025"

WITH_XDEBUG=1

# The below values should be replaced with the correct host user values, see the README for usage of the "id" command
HOST_USER_ID=1000
HOST_GROUP_ID=1000
HOST_USER_NAME=oxid
HOST_GROUP_NAME=oxid

#PWD=C:\Users\username\project directory